<p id="notice"><%= notice %></p>

<p>
  <strong>できたか:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>日付:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>名前:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category_id %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user.username %> 
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to 'もどる', tasks_path %>
